{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": ["react-app", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["react", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-restricted-imports": [
            "error",
            {
                "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
            }
        ],
        "no-unused-vars": ["error", { "vars": "all" }]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
